<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- user.username %> - VitalList</title>
    <%- include ("./parts/head.ejs") %>
</head>
    <%- include ("./parts/navbar.ejs") %>
    <div class="container">
        <div style="background-color: transparent" class="jumbotron mt-5">
            <div class="row" style="width: 100%;">
                <div class="col-sm-2">

                    <img style="border-radius: 50%;" class="card-img-top" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=1280">

                </div>
                    <div class="col-sm">
                        <h3><%= user.username %><small class="text-muted">#<%= user.discriminator %></small></h3>
                        <% - user.bio -%>
   
    </div>
    </div>
    </div>
    </div>