<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
    <title>Editing <%- server.name %>  - Vital List</title>
    <%- include("../parts/head.ejs") %>
</head>
    <%- include("../parts/navbar.ejs") %>
    <div class="container">
    <h2 style="color:white;margin-top: 175px;"><b>Edit Server</b></h2><p style="color:white;font-size: 20">Fill out the below form in order to edit your server.</p><br><br>
        <div class="form">
            <form action="/servers/<%= server.id %>/edit" method="POST">
                <div class="form-group">
                    <label for="invite">Server Invite</label>
                    <input type="text" class="form-control" id="invite" value="<%= server.invite %>" aria-describedby="inviteHelp" name="invite" autocomplete="off" ar readonly disabled>
                    <small id="inviteHelp" class="form-text text-muted">Invite can be created by running the /invite command in your server.</small><br>

                    <label for="botShortDesc">Short Description</label>
                    <input type="text" class="form-control" id="botShortDesc" aria-describedby="botShortDeschelp" name="short_description" value="<%= server.shortDesc %>" placeholder="Revolutionary server with..." autocomplete="off" required>
                    <small id="botShortDeschelp" class="form-text text-muted">Short Description about the bot (Min. 50 & Max. 100 characters)</small><br>
                    <label for="botLongDesc">Long Description</label>
                    <textarea class="form-control" id="botLongDesc" rows="3" value="<%= server.desc %>" name="long_description" placeholder="More about the Revolution..." autocomplete="off" required>
<%= server.desc %></textarea>
                    <small id="botLongDeschelp" class="form-text text-muted">HTML & Markdown can be used (Min. 300 characters)</small>
                </div>
                <div class="botLongDescPreviewBox">
                    <label>Long Description Preview</label>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div id="botLongDescPreview"></div>
                        </div>
                    </div>
                </div>
                <label for="botShortDesc">Server Website</label>
                    <input type="url" class="form-control" id="website" name="website" value="<%= server.website %>" placeholder="https://vitallist.xyz/servers" autocomplete="off"><br>
                <div class="form-group" id="tags-box">
                    <label class="mb-0">Server Tags</label>
                    <small class="form-text text-muted mt-0 mb-2">Max. 4 tags</small>
                    <div class="custom-control custom-checkbox">
<<<<<<< HEAD
                        <input type="checkbox" class="custom-control-input" id="tag-community" value="Community" name="tags">
                        <label class="custom-control-label" for="tag-community">Community</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-development" value="Development" name="tags">
                        <label class="custom-control-label" for="tag-development">Development</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-botlist" value="Bot List" name="tags">
                        <label class="custom-control-label" for="tag-botlist">Bot List</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-serverlist" value="Server List" name="tags">
                        <label class="custom-control-label" for="tag-serverlist">Server List</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-soical" value="Soical" name="tags">
                        <label class="custom-control-label" for="tag-soical">Soical</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-gaming" value="Gaming" name="tags">
                        <label class="custom-control-label" for="tag-gaming">Gaming</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-fun" value="Fun" name="tags">
                        <label class="custom-control-label" for="tag-fun">Fun</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-emotes" value="Emotes" name="tags">
                        <label class="custom-control-label" for="tag-emotes">Emotes</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-youtube" value="Youtube" name="tags">
                        <label class="custom-control-label" for="tag-youtube">YouTube</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-streaming" value="Streaming" name="tags">
                        <label class="custom-control-label" for="tag-streaming">Streaming</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-anime" value="Anime" name="tags">
                        <label class="custom-control-label" for="tag-anime">Anime</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-meme" value="Meme" name="tags">
                        <label class="custom-control-label" for="tag-meme">Meme</label>
=======
                        <% for(let i = 0; i < tags.servers.length; i++){ %>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="tag-<%= tags.servers[i].toLowerCase() %>" value="Moderation" name="tag">
                                <label class="custom-control-label" for="tag-<%= tags.servers[i].toLowerCase() %>"><%= tags.servers[i]%></label>
                            </div>                                    
                         <% } %> 
>>>>>>> 817a5969294269dafedfb3d4838a92a033d51ebd
                    </div>
                </div><br>
    
                <button type="submit" class="bluebtn"><i class="fa-solid fa-paper-plane"></i>&nbsp&nbspSubmit</button>
            </form>
        </div>
        <br><br>
    </div>
     </div>

     <script>
          const longDesc = $('#botLongDesc');
        const longDescPreview = $('#botLongDescPreview');
        
        longDesc.on('change keyup paste', function () {
            const markdownRender = marked(longDesc.val());
            const allowedTags = sanitizeHtml.defaults.allowedTags.concat(["address", "article", "aside", "footer", "header", "h1", "h2", "h3", "h4",
  "h5", "h6", "hgroup", "main", "nav", "section", "blockquote", "dd", "div",
  "dl", "dt", "figcaption", "figure", "hr", "li", "main", "ol", "p", "pre",
  "ul", "a", "abbr", "b", "bdi", "bdo", "br", "cite", "code", "data", "dfn",
  "em", "i", "kbd", "mark", "q", "rb", "rp", "rt", "rtc", "ruby", "s", "samp",
  "small", "span", "strong", "sub", "sup", "time", "u", "var", "wbr", "caption",
  "col", "colgroup", "table", "tbody", "td", "tfoot", "th", "thead", "tr"]);
            const sanitizedRender = sanitizeHtml(markdownRender, {
                allowedTags
            });
            longDescPreview.html(sanitizedRender);
        });
     </script>
