<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - VitalServers</title>
    <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
    <%- include("../parts/head.ejs") %>
</head>
    <%- include("../parts/navbar.ejs") %>
    <body style="background-color:#003060;"></body>


 <img class="titlelogo" src="/img/icon.png" alt="VitalList Logo" width="150" height="150">

 <p class="title"><b>Vital Servers</b><br><span class="typing_desc" style="font-size:18px;"></span></p>
 <script>
    new TypeIt(".typing_desc", {
        speed: 90,
        waitUntilVisible: true,
        startDelay: 1000,
    })
    .type("A place where you can find servers, Vital List.")
    .move(-20)
    .type('Discord ')
    .move(7)
    .pause(5000)
    .delete(7)
    .type('bots')
    .move(17)
    .pause(5000)
    .move(-15)
    .delete(6)
    .type('servers, ')    
    .move(17)
    .go()
    </script>

    <p class="top_bots"><i class="fa-solid fa-fire-flame-curved"></i> <b>Top Voted Servers</b><br><span style="font-size:15px;">These are the top voted bots for this month.</span></p>
    <div style="margin-left:50px;">
    <% let allservers = servers %>
    <% let voted = allservers.sort((a,b) => b.votes - a.votes) %>
           <% for(let i = 0; i < voted.length; i++){ %>
                                       <%  if (i === 6) break; %>
   <div class="card" style="border-radius:10px;">
     <img src="<%= voted[i].icon %>" alt="<%= voted[i].name %>'s Icon" draggable="false" class="botimg_main">
   <p class="botname_main"><%= voted[i].name %><br>
    <span style="font-size:15px; font-weight:normal;"><i class="fa-solid fa-server"></i> <%= voted[i].servers %> • <i class="fa-solid fa-check-to-slot"></i> <%= voted[i].votes %></span></p>
   <div class="botdesc_main">
    <i class="fa-solid fa-file-lines"></i> <%= voted[i].shortDesc %>
   </div>
   <div class="bottags_main">
    <i class="fa-solid fa-hashtag"></i> <%= voted[i].tags %>
   </div>
   <div style="margin-left:20px;">
    <a href="/servers/<%= voted[i].id %>">
   <button class="viewbtn">View</button>
   </div></a>
   <a href="/servers/<%= voted[i].id %>/vote">
   <button class="votebtn">Vote</button></a>
   </div></a>
         <% } %>

         <br><br><br><br>

         <style>
            body {
                font-family: Helvetica, sans-serif;
            }
         </style>