<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- server.name %> - VitalList</title>
    <%- include("../parts/head.ejs") %>
</head>
<body>
    <%- include("../parts/navbar.ejs", { bot, user }) %>

    <div class="container">
        <div style="background-color: transparent" class="jumbotron mt-5">
            <div class="row" style="width: 100%;">
                <div class="col-sm-2">

                    <img style="border-radius: 50%;" class="card-img-top" src="<%= server.icon %>">

                </div>
                    <div class="col-sm">
                        <h3><%= server.name %></h3>
                        <%- server.shortDesc %><br>
                        <span style="border-radius: 5px;" class="badge badge-primary" style="font-size: 20px;"><i class="fa-solid fa-bomb"></i> Bumps: <%= server.bumps %></span>
                        <span style="border-radius: 5px;" class="badge badge-danger" style="font-size: 20px;"><i class="fa-solid fa-check-to-slot"></i> Votes: <%= server.votes %></span>
                        <span style="border-radius: 5px;" class="badge badge-danger" style="font-size: 20px;"><i class="fa-solid fa-eye"></i> Views: <%= server.views %></span>
                        <hr></hr>
                        <% if (server.invite) { %>
                            <a href="/servers/<%= server.id %>/join" type="button" style="border-radius: 5px;" class="btn btn-primary pr-3 pl-3 mr-1"><i class="fa-brands fa-discord"></i> Join</a>
                        <% } %>
                        <a href="/server/<%= server.id %>/vote" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-solid fa-check-to-slot"></i> Vote</a>
                        <% if (server.website) { %>
                            <a href="<%= server.website %>" type="button" style="border-radius: 5px;" class="btn btn-success pr-3 pl-3 mr-1"><i class="fa-solid fa-globe"></i> Website</a>
                        <% } %>
                        <% if (server.support) { %>
                            <a href="https://discord.gg/<%= bot.support %>" type="button" style="border-radius: 5px;" class="btn btn-info pr-3 pl-3 mr-1"><i class="fa-brands fa-discord"></i> Support</a>
                        <% } %>
                        <% if (server.owner.includes(user.id)) { %>
                            <a href="/servers/<%= server.id %>/edit" type="button" style="border-radius: 5px;" class="btn btn-warning pr-3 pl-3 mr-1"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                            <a href="/servers/<%= server.id %>/delete" type="button" style="border-radius: 5px;" class="btn btn-danger pr-3 pl-3 mr-1"><i class="fa-solid fa-trash"></i>  Delete</a>
                        <% } %>
                    </div>
                </div>
            </div>
                    </div>
                    </div>
                    </div>